<mat-card style="background-color: rgba(51, 170, 51, .1)">
  <div class="container center">
    <div class="row left-panel">
      <div class="col-lg-6 card-boarder parent" id="mydiv" *ngIf="true"
        [ngStyle]="{'top':'0' ,'background-image': 'url('+ url +')', 'background-repeat':'no-repeat', 'background-size': 'contain', 'height' : '350px'}">

        <div [cdkDragDisabled]="currentSelected != '1'"
          [ngStyle]="{'border': currentSelected == '1' ? '3px solid skyblue' : 'none'}" class="child"
          [style.width]="cardNamWidth" id="cardNameV" cdkDragBoundary=".card-boarder" cdkDrag
          [cdkDragFreeDragPosition]="cardNamePosition" (cdkDragEnded)="OnDragEnded($event)">
          {{cardName}}
        </div>
        <div [cdkDragDisabled]="currentSelected != '2'" class="child" [style.width]="cardNumWidth"
          [ngStyle]="{'border': currentSelected == '2' ? '2px solid skyblue' : 'none'}" id="cardNumberV"
          cdkDragBoundary=".card-boarder" cdkDrag (cdkDragEnded)="OnDragEnded($event)"
          [cdkDragFreeDragPosition]="cardNumPosition">
          {{cardNumber}}
        </div>
        <div [cdkDragDisabled]="currentSelected != '4'"
          [ngStyle]="{'border': currentSelected == '4' ? '2px solid skyblue' : 'none'}" id="cardExpiryDateV"
          class="child" [style.width]="cardNamWidth" cdkDragBoundary=".card-boarder" cdkDrag
          [cdkDragFreeDragPosition]="expirPosition" (cdkDragEnded)="OnDragEnded($event)">
          {{cardExpiryDate}}
        </div>
        <div [cdkDragDisabled]="currentSelected != '3'" id="userNameV"
          [ngStyle]="{'border': currentSelected == '3' ? '2px solid skyblue' : 'none'}" class="child"
          [style.width]="cardNumWidth" cdkDragBoundary=".card-boarder" cdkDrag
          [cdkDragFreeDragPosition]="userNamePosition" (cdkDragEnded)="OnDragEnded($event)">
          {{userName}}
        </div>
        <div class="helpingtxt" id="helpingtext">
          <input type="text" value="" class="helptxt form-control" placeholder="{{helpingText}}"/>
        </div>

        <div [cdkDragDisabled]="currentSelected != '5'" style=" margin-right:90px; margin-top: 135px; display: none;"
          id="cvvV" [style.width]="cardNamWidth"
          [ngStyle]="{'border': currentSelected == '5' ? '3px solid skyblue' : 'none'}" class="child"
          cdkDragBoundary=".example-boundary" cdkDrag [cdkDragFreeDragPosition]="cvvPosition"
          (cdkDragEnded)="OnDragEnded($event)">
          {{cvv}}
        </div>
        <div cdkDragBoundary=".card-boarder" cdkDrag m22Resizable [cdkDragFreeDragPosition]="logoPosition"
          (cdkDragEnded)="OnDragEnded($event)" [ngStyle]="{'display': frontSide ? 'block' : 'none' }"
          style="height: 120px; width :120px">
          <img src={{iconurl}} alt="" style="height: 100%; width: 100%;">
        </div>
        <div class="flip-icon">
          <img src="https://img.icons8.com/fluency/72/process.png" (click)="toggleFlip()">
        </div>

      </div>

      <div class="col-lg-6 right-panel">
        <mat-tab-group>
          <mat-tab label="Text">

            <form (input)="updateValues($event)">
              <div class="form-group">
                <label class="lable" for="textItem">Text Item</label>
                <select class="form-select form-control" id="textItem" (change)="onClick($event)" required>
                  <option selected>Select Text Item</option>
                  <option value="1">Card Name</option>
                  <option value="2">Card Number</option>
                  <option value="3">User Name</option>
                  <option value="4">Expiry Date</option>
                  <option value="5">CVV</option>
                </select>
              </div>
              <div class="form-group">
                <label class="lable" for="textItem">Select Font</label>
                <select class="form-select form-control" [ngModel]="defaultfont" name="defaultfont"
                  (change)="onFontClick($event)">
                  <option value=''>Select</option>
                  <option *ngFor="let p of fontfamilys" value="{{p.value}}">{{p.title}}</option>
                </select>
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-secondary btn-lg btn-block"
                  (click)="changeSide()">{{btnStr}}</button>
              </div>
              <div class="line">
                <mat-divider></mat-divider>
              </div>
              <div class="form-group">
                <label class="lable" for="text">Text</label>
                <input class="form-control input" [(ngModel)]="text" type="text" name="text" id="text">
              </div>
              <div class="form-group">
                <label class="lable" for="dfl">Distance from left</label>
                <input class="form-control input cardnum" [(ngModel)]="distanceFromLeft" type="text" name="dfl"
                  id="dfl">
              </div>
              <div class="form-group">
                <label class="lable" for="dfb">Distance from top</label>
                <input class="form-control input" [(ngModel)]="distanceFromBottom" type="text" name="dfb" id="dfb">
              </div>


            </form>

          </mat-tab>


          <mat-tab label="Card">

            <form>
              <div class="form-group">
                <label class="lable" for="userName">User Name</label>
                <input class="form-control input" type="text" name="userName" id="userName" value={{userName}}
                  readonly="true">
              </div>
              <div class="form-group">
                <label class="lable" for="cardName">Card Name</label>
                <input class="form-control input" type="text" name="cardName" id="cardName" value={{cardName}}
                  readonly="true">
              </div>
              <div class="form-group">
                <label class="lable" for="cardNumber">Card Number</label>
                <input class="form-control input" type="text" name="cardNumber" id="cardNumber" value={{cardNumber}}
                  readonly="true">
              </div>
              <div class="form-group">
                <label class="lable" for="cardExpiryDate">Expiry Date</label>
                <input class="form-control input" type="text" name="cardExpiryDate" id="cardExpiryDate"
                  value={{cardExpiryDate}} readonly="true">
              </div>
              <div class="form-group">
                <label class="lable" style="margin: 10px;  " for="CVV">CVV</label>
                <input class="form-control input" value={{cvv}} readonly="true" type="text" name="CVV" id="CVV">
              </div>
            </form>
          </mat-tab>


          <mat-tab label="Images">
            <form>
              <div style="text-align:center">
                <div style="margin: 10px;" [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
                <label class="lable" style="margin: 10px;  " for="bgImageFront">Card FrontSide</label>
                <input class="form-control input" type="file" name="bgImageFront" id="bgImageFront"
                  (change)="selectFile($event , 'bgImageFront')">
              </div>
              <div style="text-align:center">
                <div style="margin: 10px;" [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
                <label class="lable" style="margin: 10px;  " for="bgImageBack">Card BackSide</label>
                <input class="form-control input" type="file" name="bgImageBack" id="bgImageBack"
                  (change)="selectFile($event , 'bgImageBack')">
              </div>
              <div style="text-align:center">
                <div style="margin: 10px;" [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
                <label class="lable" style="margin: 10px;  " for="cardIcon">Card Icon</label>
                <input class="form-control input" type="file" name="cardIcon" id="cardIcon"
                  (change)="selectFile($event , 'cardIcon')">
              </div>
            </form>
          </mat-tab>
        </mat-tab-group>


      </div>
      

    </div>

  </div>
  <!-- <div class="flip-icon">
    <img src="https://img.icons8.com/fluency/72/process.png" (click)="toggleFlip()">
  </div> -->
</mat-card>