body {
  background-color: #ddd !important;
}

.container {
  margin-top: 100px;
}

.right-panel {
  border-left: 2px solid #9d9696;
}

.child {
  font-size: 20px;
  color: rgb(247, 233, 233);
}

label {
  font-weight: bold;
}

.line {
  padding-bottom: 16px;
}

.flip-icon {
 margin-left: 200px;
 position: fixed;
 margin-top: 185px
}
.helpingtxt {
  margin-top: 220px;
  position: absolute;
}
.helptxt
{
  width: 500px;
    background-color: #2d5b99;
    color: #fff;
    border-color: #664e4e;
}